body * {
    margin: 0;
    border: 0;
    padding: 0;
}
.nav{
    background-color: rgb(81, 151, 222);
    
}

.carousel-item{
    width: 100%;
    height: 500px;   
}

article{
    text-align: center;
    height: 200px;
    margin-top: 40px;
}
article h2 {
    margin: 50px;

}

footer{
    background-color: rgb(6, 6, 92);
}
.card{
    background-color: rgb(6, 6, 92);
    border: 0;
}


.card-body{
   
    text-align: center;    
    background-color: rgb(6, 6, 92);
    color: white;
    height: 250px;
    width: 350px;
}
.card-body h5{
    margin: 50px 0;

}

.img {    
    margin: auto;
    margin-top: 50px;
    width: 20%;
    background-color: white;
    
}

.icon{
    margin: 20px;
    height: 80px;
    width: 80px;   
    
}